@font-face {
  font-family: quantico1;
  src: url(../fonts/Quantico-Bold.otf);
}
@font-face {
  font-family: quantico2;
  src: url(../fonts/Quantico-Regular.otf);
}
  body{
   background-image: url(../images/honeycombbackground9.jpg);
    width:100%;
   background-repeat: round round; 
   color: #805940;
  font-family: 'quantico2', sans-serif;
  line-height: 150%;
}
.wrapper{
  height: 100%;
  width: 100%;
  /******************************
    Sticky Footer STEP 1 of 4
  *******************************/
  min-height: 100%;
  position: relative;
  /******************************/
}

/******************************
  Sticky Footer STEP 2 of 4
  Push down sticky footer 66px
/******************************/
.last-row{
  margin-bottom:66px;
}
/******************************/
h1{
  /*font-family: justice;*/
  font-family: 'quantico1', sans-serif;
  color: #805940;
  font-size:2.625rem;
  font-weight: bold;
  letter-spacing: -.09rem;
}
p{
  font-size:1.375rem;
  font-family: 'Roboto', sans-serif;
}
nav, .instructions{
  /*background: #EAE6D3;*//*brown*/
  /*background: rgba(206, 168, 103, 1);*//*darktan*/
  background: rgba(234, 230, 211, 0.9);
  border: 1px solid #805940;
}
.gem {
    width: 20%;
    padding: 0.625rem;
     
  }
  .input, .output, .message, .scores{
    /*background: #EAE6D3;*//*brown*/
    background: rgba(234, 230, 211, 0.9);
    border: 1px solid #805940;
  }

  .title{
    color: #805940;
    display: block;
    font-family: 'quantico1', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.title1{
    color: #805940;
    display: block;
    font-family: 'quantico1', sans-serif;
    font-size:1.75rem;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

 /*Beveled Edges*/
 /******************/
#matchNumberOutput, #playerTotalOutput, #winCtrOutput, #lossCtrOutput, #statusMessageOutput{
  font-size: 1.375rem;
    color:#407E80;
}

.edgeContainer{
 /* height:300px;*/
  width:90%;
  /*height: 300px;*/
  margin: 0 auto;
}

.topEdge, .bottomEdge, .content{
  border-style: solid;
  border-width: 5px;
  border-color: #805940;
  /*border-color: #EAE6D3;*/
}

.topEdge, .bottomEdge{
  width:100%;
  height:0;/* Make the div empty*/
  border-right-color: transparent;
  border-left-color: transparent;
}
.topEdge{
 /* border-top-color:orange;
  border-bottom-color:pink;
  border-left-color: red;
  border-right-color: blue;*/
  border-top:0;/*flattening out the top border*/
}
.bottomEdge{
  border-bottom:0;/*flattening out the top border*/
}
.content{
  width:100%;
  overflow:auto;
  border-top: 0;/*remove old border*/
  border-bottom:0;/*remove old border*/
}
/***************************
FOOTER
***************************/
.footer{
  /*background-color:#805940;*/
  background-color: rgba(234, 230, 211, 0.9);
  color:#805940;;
  /*text-align:center;*/
  font-size: 10px;
  font-weight: bold;
  border-Top: 1px solid #805940;
  /***************************
    Sticky Footer Step 3 of 4
  ***************************/
  height:50px;
  /****************************/
}

.footer p{
  margin:0;
  font-size: 0.875rem;
}
.footerEdgeContainer{
   margin: 0 auto;
   /***************************
     Sticky Footer STEP 4 of 4
   ***************************/
   position: absolute;
   bottom:0;
  left:0;
  /*********************/
 }