@font-face {
  font-family: justice;
  src: url(../fonts/JUSTICELEAGUE.ttf);
}
  body{
   background-image: url(../images/honeycombbackground9.jpg);
    width:100%;
   background-repeat: round round; 
   color: #805940;
}
h1{
  /*font-family: justice;*/
  font-family: 'Quantico', sans-serif;
  color: #805940;
  /*font-size:1.75rem;
  font-size:2rem;*/
  font-size:2.625rem;
  font-weight: bold;
  letter-spacing: -.09rem;
  /*margin-top: .5rem;*/
}
p{
  font-family: 'Quantico', sans-serif;
  font-size:1.375rem;
}
nav, .instructions{
  /*background: #EAE6D3;*/
  /*background: rgba(206, 168, 103, 1);*//*darktan*/
  background: rgba(234, 230, 211, 0.9);
  border: 1px solid #805940;
}
/*.scores{
  background: #EAE6D3;
  border: 1px solid #805940;
}*/
.gem {
    width: 20%;
    padding: 0.625rem;
     
  }
  .input, .output, .message, .scores{
    /*background: #EAE6D3;*/
    background: rgba(234, 230, 211, 0.9);
    border: 1px solid #805940;
  }

  .title{
    color: #805940;
    display: block;
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    /*text-align:center;*/
}

 /*45 degree edges*/
 /******************/
#matchNumberOutput, #playerTotalOutput, #winCtrOutput, #lossCtrOutput, #statusMessageOutput{
  font-size: 1.375rem;
    color:#407E80;
    /*text-align:center;*/
}

.edgeContainer{
 /* height:300px;*/
  width:90%;
  margin: 0 auto;
  /*margin-bottom: 30px;*/
    /*border-top:1px solid red;
    border-left-color: transparent;
    padding-left:0;
    padding-right:0;*/
}

.topEdge, .bottomEdge, .content{
  border-style: solid;
  border-width: 5px;
  /*border-color: #805940;*/
  /*border-color: #EAE6D3;*/
}

.topEdge, .bottomEdge{
  width:100%;
  height:0;/* Make the div empty*/
  border-right-color: transparent;
  border-left-color: transparent;
}
.topEdge{
 /* border-top-color:orange;
  border-bottom-color:pink;
  border-left-color: red;
  border-right-color: blue;*/
  border-top:0;/*flattening out the top border*/
}
.bottomEdge{
  border-bottom:0;/*flattening out the top border*/
  /*border-bottom: 1px;
  border-bottom-color: #805940;*/
  
}
.content{
  width:100%;
  overflow:auto;
  border-top: 0;/*remove old border*/
  border-bottom:0;/*remove old border*/
}
